﻿@model Model.UserInfo.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="limiter">

    <div class="container-login100">

        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
                <div class="text-center col-sm-4 col-md-4 col-lg-4 p-b-51" style="padding-left: 20px; padding-bottom: 20px;">
                    <img style="width: 340px; height: 250px;" src="~/image/Logo-FSB-02.png" />
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="AD Vingroup bắt buộc">
                    <input class="input100" type="text" asp-for="UserName" placeholder="Tên đăng nhập">
                </div>
                @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                <div class="wrap-input100 validate-input m-b-16" data-validate="Mật khẩu bắt buộc">
                    <input class="input100" type="password" asp-for="Password" placeholder="Mật khẩu">
                </div>
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                <div class="container-login100-form-btn m-t-17">
                    <a class="login100-form-btn" id="btnLogin" onclick="Login()">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on("keyup", function (event) {
            if (event.which == 13) {
                $("#btnLogin").trigger('click');
            }
        });
    });

    function Login() {

        var lstIdStr = 'UserName,Password';
        if (!RequireValidate(lstIdStr)) {
            toastr.error('Bạn chưa nhập đủ thông tin.');
            return;
        };
        var formData = new FormData();
        formData.append("UserName", $("#UserName").val());
        formData.append("Password", $("#Password").val());
        formData.append("__RequestVerificationToken", _token);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActionLogin")',
            data: formData,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                if (data.code == "200") {
                    setTimeout(
                        function () {
                            location.href = '/bang-dieu-khien';
                        }, 1000);
                }
            }
        });
    }
</script>